[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install-jdk = "*"
jupyter = "*"
pyarrow = "*"
parquet-tools = "*"
pandas = "*"
hdfs = "*"
tqdm = "*"
pyspark = "*"

[dev-packages]

[requires]
python_version = "3.9"
